@import "config";

.content {
    margin: 50px auto;
    max-width: 600px;
    text-align: center;
  }

  .section {
    margin: 20px 0;
    padding: 40px;
    background-color: #dac6a0;
    border: 1px solid #ab9952;
    border-radius: 8px;
  }